.formcontato__title{
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    width: 100%;
}

.formcontato__subtext{
    color: #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}



@media(min-width: 320px) and (max-width: 768px){
    .formcontato__title{
        font-size: 22px;
        width: 296px;
        line-height: 19px;
    }
    .formcontato__subtext{
        font-size: 14px;
        width: 296px;
        line-height: 15px;
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .formcontato__title{
        font-size: 22px;
    }
    .formcontato__subtext{
        font-size: 14px;
        flex-wrap: wrap;
        background-image: none;
    }
}