.menu__list{
    display:flex;
    align-items: center;
    column-gap: 32px;
}
.menu__list a{
    color:  #464646;
}
.menu__list a:hover{
    color: #681802;
    text-decoration: underline;

}

.menu__list__item--contato{
    font-weight: bolder;
}

@media(min-width: 320px) and (max-width: 768px){
    .menu__list{
      column-gap: 8px;
    }
    .menu__list__item{
        display: none;
    }
    .menu__list__item--contato{
        display: block;
        font-weight: bolder;
        margin-right: 1rem;
        font-size: 14px;
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .menu__list__item{
        display: none;
    }
    .menu__list__item--contato{
        display: block;
        font-weight: bolder;
        margin-right: 4rem;
    }
}

@media(min-width: 1024px){
    .menu__list__item{
        display: block;
    }
}