.hobbies__dancar {
    height: 0.4px;
   
    

}

.hobbies__carros  {
    height: 0.4px;
    
}

.hobbies__comer {
    height: 0.4px;

}

.hobbies__musica {
    height: 0.4px;

}

.hobbies__fotos {
    height: 0.4px;
}

.hobbies__series {
    height: 0.4px;
}
