.menu__cabecalho{
    display:flex;
    align-items: center;
    margin-left: 2rem;
}

.menu__icone{
    height: 20px;
}

@media(min-width: 320px) and (max-width: 768px){
    .menu__cabecalho{
        margin-left: 1rem;
    }
    
}

@media(min-width: 768px) and (max-width: 1024px){
    .menu__cabecalho{
        margin-left: 1rem;
    }
    
}

@media(min-width: 1024px){
    .menu__cabecalho{
        display:flex;
        align-items: center;
        margin-left: 10%;
    }
    
}