.formcontato{
    background: #EAF2FD;
    padding: 4rem 1rem 4rem 0;
    width: 100vw;

}

@media(min-width: 320px) and (max-width: 768px){
    .formcontato{
        
        width: 100vw;
          
    }
}

@media(min-width: 768px) and (max-width: 1024px){
    .formcontato{
        padding: 1rem 0;
        
    }
}