.title__network{
    display: flex;
    padding-inline-start: 0; 
    column-gap: 24px;
}

.title__network a:hover{
color: #681802;
text-decoration: underline;
}

@media(min-width: 320px) and (max-width: 1024px){
    .title__network{
        row-gap: 16px;
    }
}