.formcontato--esquerda{
    background:  url(../imagem--contato/);
    height: 593px;
    width: 464px;
}

@media(min-width: 0px) and (max-width: 1024px){
    .formcontato--esquerda{
        display: none;
    }
}