.academic__title{
    color:  #464646;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

@media(min-width: 320px) and (max-width: 1024px){
    .academic__title{
        font-size: 22px;
    }
   
}