.experience__description{
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    
}

.experience__description button{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 116px;
    height: 51px;
     border: 1px solid #2A7AE4;
     transition: 0.5s ease-in-out;
}

.experience__description button:hover{
    cursor: pointer;
    transform: scale(0.9);
}

.experiencia__botao--repo{
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    
}

.experiencia__botao--repo:hover{
    border: 1px solid #1D549C;
    color: #1D549C;
    
}

.experiencia__botao--demo{
    background: #2A7AE4;
    color: #FFFFFF;
}

.experiencia__botao--demo:hover{
    background-color:#1D549C;
}


@media(min-width: 320px) and (max-width: 1024px){
    .experience__description button{
        font-size: 14px;
        width: 108px;
        height: 40px;
    } 
}