footer{
    background: #FFFFFF;
    margin-top: 20px;
   
 
}

.footer__rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
   
}

.footer__rodape p{
    line-height: 19px;
    color: #464646;
    margin: 0;
    padding: 0;

}