.about__title{
    color:  #464646;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-left: 8.5rem;
    margin-right: 8.5rem;
   
 
   
 }
 @media(min-width: 320px) and (max-width: 1024px){
    .about__title{
       font-size: 22px;
       margin: 1rem 1rem;
    }
 }
 
 @media(min-width: 768px) and (max-width: 1024px){
    .about__title{
       font-size: 22px;;
       margin-right: 0;
       margin-left: 2.5rem;
       line-height: 26px;
    }
   
 }